* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-image: url("resources/background.svg");
	background-size: cover;
	
}

.logo {
	display: flex;
	padding: 10px;
}

.container {
	display: flex;
	flex-direction: column;
	height: 80%;
	width: 100%;
}

.heading {
	height: 60%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
	padding-top: 20px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, 'Times New Roman', Times, serif;
}

.heading h1 {
	font-size: 320%;
	display: flex;
	align-items: center;
	padding-bottom: 15px;
}

.heading p {
	display: flex;
	justify-content: center;
	align-content: center;

	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, 'Times New Roman', Times, serif;
	font-size: x-large;
}

#secondP {
	display: flex;

}

.box {
	margin: 30px;
	padding: 30px;
	display: grid;
	grid-template-rows: 2fr 2fr 4fr 2fr;
	grid-template-columns: 1fr 1fr;
	border: 1px;
	background-color: rgba(173, 159, 187, 0.397);
	border-radius: 20px;
	height: 400px;
	width: 40%;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, 'Times New Roman', Times, serif;
}

.box1 {
	grid-column: 1/2;
	grid-row: 1/2;
}

.box1 input {
	padding: 10px;
	border-radius: 5px;
	border: 0;
	width: 90%;
}

.box2 {
	grid-column: 2/3;
	grid-row: 1/2;
}

.box2 input {
	padding: 10px;
	border-radius: 5px;
	border: 0;
	width: 90%;
}

.box3 {
	grid-column: 1/2;
	grid-row: 2/3
}

.box3 select {
	padding: 10px;
	border-radius: 5px;
	border: 0;
	width: 90%;
}

.box4 {
	grid-column: 2/3;
	grid-row: 2/3
}

.box4 select {
	padding: 10px;
	border-radius: 5px;
	border: 0;
	width: 90%;
}

.box5 {
	grid-column: 1/3;
	grid-row: 3/4;

}

.box5 input {
	width: 95%;
	padding: 40px;
	border-radius: 10px;
	border: 0;
}

.box6 {
	grid-row: 4/5;
	grid-column: 1/3;
}

.box6 button {
	width: 95%;

	padding: 15px;
	color: blueviolet;
	font-weight: bolder;
	border: 0;
	border-radius: 10px;
}

label {
	padding-bottom: 20px;
}

@media (max-width: 640px) {
	.box {

		display: flex;
		flex-direction: column;
		gap: 10px;
		/* grid-template-columns: 1fr; */
		border: 1px;
		background-color: rgba(173, 159, 187, 0.397);
		border-radius: 20px;
		height: fit-content;
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, 'Times New Roman', Times, serif;
	}
}